<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- EcoTrack Package Activities -->
        <activity android:name="com.example.ecotrack.TipsActivity" />
        <activity android:name="com.example.ecotrack.QrSetupActivity" />
        <activity android:name="com.example.ecotrack.ManualSetupActivity" />
        <activity
            android:name="com.example.ecotrack.DashboardActivity"
            android:exported="false" />

        <!-- Sign-In Screen (Launcher) -->
        <activity
            android:name="com.example.ecotrack.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Compose Goals Screen -->
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="false" />

    </application>

</manifest>